<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.admin.dao.IAdminDao">

    <select id="selectByName" resultType="Admin">
        select *
        from `admin`
        where user_name = #{name}
    </select>

    <select id="getSubAdminListByPage" resultType="Admin">
        select * from `admin`
        <where>
            LOCATE(#{args.parentId},`parent_ids`)

            <if test="args.level != null and args.level != ''">
                AND `level` = #{args.level}
            </if>

            <if test="args.state != null  and args.state != ''">
                AND `state` = #{args.state}
            </if>
            AND `deleted` = 0
        </where>

    </select>
</mapper>