<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.coupon.dao.ICouponLogDao">
    <select id="getLogListByCouponId" resultType="CouponLog">
        SELECT * FROM `coupon_log`
        <where>
            `coupon_id` = #{couponId}
        </where>
        ORDER BY `use_date` DESC
    </select>

    <select id="getLogListByOrderId" resultType="CouponLog">
        SELECT * FROM `coupon_log`
        <where>
            `order_id` = #{orderId}
        </where>
        ORDER BY `use_date` DESC
    </select>
    <select id="getLogListByPage" resultType="CouponLog">
        SELECT * FROM `coupon_log`
        <where>
            <if test="args.userIds != null">
                `user_id` IN
                <foreach collection="args.userIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="args.couponId != null and args.couponId != ''">
                `coupon_id` = #{args.couponId}
            </if>
            <if test="args.orderId != null and args.orderId != ''">
                `order_id` = #{args.orderId}
            </if>
            <if test="args.startDate !=null and args.startDate != '' and args.endDate != null and args.endDate != ''">
                AND `create_date` BETWEEN #{args.startDate} AND DATE_ADD(#{args.endDate},INTERVAL 1 DAY)
            </if>
        </where>
        ORDER BY `create_date` DESC
    </select>
</mapper>