<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.order.dao.IOrderDao">

    <select id="getOrderListByUserId" resultType="Order">
        SELECT * FROM `order`
        <where>
            `user_id` = #{userId}
            <if test="paymentWay != null">
                AND `payment_way` = #{paymentWay}
            </if>
            <if test="orderState != null">
                AND `order_state` = #{orderState}
            </if>
            AND deleted = 0
        </where>
    </select>

    <select id="getOrderListByPage" resultType="Order">
        SELECT * FROM `order`
        <where>
            <if test="args.userId != null and args.userId != ''">
                `user_id` = #{args.userId}
            </if>
            <if test="args.paymentWay != null and args.paymentWay != ''">
                AND `payment_way` = #{args.paymentWay}
            </if>
            <if test="args.orderState != null and args.orderState != ''">
                AND `order_state` = #{args.orderState}
            </if>
            AND deleted = 0
        </where>
        ORDER BY `create_date` DESC
    </select>

    <sql id="common_order_list_where_u">
        <where>
            `user_id` = #{args.userId}
            <if test="args.orderState != null and args.orderState != ''">
                <if test="args.orderState == 'waitPay'">
                    AND `pay_state` = 0
                </if>
                <if test="args.orderState == 'waitEat'">
                    AND (`order_state` = 0 or `order_state` = 1 or `order_state` = 2)
                    AND (`pay_state` = 1 or `pay_state` = 2)
                </if>
                <if test="args.orderState == 'waitComment'">
                    AND `is_commented` = 0 AND `order_state` = 3
                </if>
                <if test="args.orderState == 'refund'">
                    AND `order_state` = 4
                </if>
            </if>
            AND deleted = 0
        </where>
    </sql>

    <select id="getOrderListByPageU" resultType="Order">
        SELECT * FROM `order`
        <include refid="common_order_list_where_u"/>
        ORDER BY `create_date` DESC
    </select>


    <select id="getOrderCountByStateU" resultType="java.lang.Integer">
        SELECT count(*) FROM `order`
        <include refid="common_order_list_where_u"/>
    </select>

    <select id="getOrderCountToday" resultType="java.lang.Integer">
        SELECT count(*) FROM `order`
        <where>
            TO_DAYS(`create_date`) = TO_DAYS(now())
        </where>
    </select>
</mapper>