HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
activity/src/test/
admin-web/src/main/webapp/
admin-web/src/test/java/net/novaborn/takeaway/admin/common/
admin/src/test/
category/src/test/
common/src/test/
coupon/src/test/
goods/src/test/
order/src/test/
setting/src/test/
user/src/test/
