<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.store.dao.IStoreDao">
    <select id="getListByPage" resultType="Store">
        select * from `store`
        <where>
            <if test="args.name != null and args.name != ''">
                AND `name` like '%${args.name}%'
            </if>
            AND `deleted` = 0
        </where>
    </select>
</mapper>