<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.user.dao.IUserDao">

    <select id="selectByName" resultType="User">
        SELECT * FROM `user`
        <where>
            `name` = #{name}
            AND deleted = 0
        </where>
    </select>

    <select id="selectByOpenId" resultType="User">
        SELECT * FROM `user`
        <where>
            `open_id` = #{openId}
            AND deleted = 0
        </where>
    </select>

    <select id="getByNickName" resultType="User">
        SELECT * FROM `user`
        <where>
            `nick_name` like '%${nickName}%'
            AND deleted = 0
        </where>
    </select>

    <select id="getUserListByPage" resultType="User">
        SELECT * FROM `user`
        <where>
            <if test="args.nickName != '' and args.nickName != null">
                and `nick_name` like '%${args.nickName}%'
            </if>
            AND deleted = 0
        </where>
        ORDER BY `create_date` DESC
    </select>
</mapper>