<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="net.novaborn.takeaway.category.dao.ICategoryDao" >

    <select id="getCategoryListByPage" resultType="Category">
        SELECT * FROM `category`
        <where>
            <if test="args.name != '' and args.name != null">
                and `name` = #{args.name}
            </if>
        </where>
    </select>
</mapper>