<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.category.dao.ICategoryDao">

    <select id="selectByName" resultType="Category">
        SELECT * FROM `category`
        <where>
            `name` = #{name}
            AND deleted = 0
        </where>
    </select>

    <select id="getCategoryListByPage" resultType="Category">
        SELECT * FROM `category`
        <where>
            <if test="args.name != '' and args.name != null">
                AND `name` = #{args.name}
            </if>
            AND deleted = 0
        </where>
        ORDER BY `create_date` ASC
    </select>
</mapper>