<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.goods.dao.IGoodsDao">
    <select id="getByProduceId" resultType="Goods">
        SELECT * FROM `goods`
        <where>
            `produce_id` = #{produceId}
            AND deleted = 0
        </where>
    </select>

    <select id="getCountByProduceId" resultType="int">
        SELECT count(*) FROM `goods`
        <where>
            `produce_id` = #{produceId}
            AND deleted = 0
        </where>
    </select>
</mapper>