<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.novaborn.takeaway.goods.dao.ISpecificationDao">
    <select id="selectByKey" resultType="Specification">
        SELECT * FROM `specification`
        <where>
            `key` = #{key}
            <if test="storeId != null">
                AND (`store_id` = #{storeId} OR `store_id` = 0)
            </if>
        </where>
    </select>

    <select id="getListByPage" resultType="Specification">
        SELECT * FROM `specification`
        <where>
            <if test="args.key != '' and args.key != null">
                AND `key` = #{args.key}
            </if>
            <if test="args.store_id != null">
                AND (`store_id` = #{args.store_id} OR `store_id` = 0)
            </if>
        </where>
        ORDER BY `create_date` DESC
    </select>
</mapper>